# # Ignore all images
# *.png
# *.jpg
# *.jpeg

# Ignore installation image files
*.iso
*.img
*.vmdk
*.qcow2
*.vdi
*.bin

# Ignore Cisco network device image files (exceed GitHub file size limit)
ISO_Files/Network_devices/
*.bin
**/Network_devices/**